@use "../global/global.scss";


$mobile-layout-max-width: 1000px; // TODO make global?


div#home-page {
    @include global.page;
    display: grid;
    grid-template-columns: 15fr 70fr 15fr;

    @media (max-width: $mobile-layout-max-width) {
        grid-template-columns: 1fr;

        > .filters-column {
            display: none;
        }
    
        > .sponsored-list-column {
            display: none;
        }
    }

}