@use "../global/global.scss";


.home-grid {
    display: flex;
    margin: 0 global.$gap;
    margin-bottom: global.$gap;
    gap: global.$gap;


    > .filters-column {
        flex-grow: 15;
        flex-basis: 0; // Ignore item size when spacing
    }

    > .main-list-column {
        flex-grow: 70;
        flex-basis: 0; // Ignore item size when spacing
    }

    > .sponsored-list-column {
        flex-grow: 15;
        flex-basis: 0; // Ignore item size when spacing
    }

}