@use "../global/global.scss";


div#server-listing-page {
    @include global.page-plus-top;

    > .server-name {
        margin-bottom: global.$gap;
    }


    > .main-content-container {
        display: flex;
        flex-wrap: wrap;
        gap: 0 global.$gap;

        > .sidebar {
            min-width: 200px;
            // flex-basis: 0;
            // max-width: 340px;
            flex-grow: 1;

            > .server-info > .card > table {
                font-size: 13px;
                font-weight: 500;

                > tbody > tr > td {
                    color: global.$black;


                    &:first-child {
                        font-size: 14px;
                        color: global.$gray;
                        padding-right: 10px;
                    }

                }
            }

        }


        > .server-description {
            min-width: 100%;
            @media (min-width: 600px) { min-width: 550px; }
            flex-grow: 5;
            flex-basis: 0;

            > .card > p {
                font-size: 12px;
                color: global.$gray;
                font-weight: 400;
                margin: 0;
            }
        }

    }

}