@import "../global/global.scss";
@import "./card.scss";


.grid-card-section {
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: $gap;
    }
}

$img-height: 150px;
:export { imgHeight: $img-height};

.grid-card {
    padding: 16px;
    padding-bottom: 12px;

    height: 400px;

    $gradient-start: 50px;

    display: flex;
    flex-direction: column;



    > .gradient {
        width: 100%;
        height: $img-height - $gradient-start;
        top: $gradient-start;
        left: 0;
    }

    > .banner-img {
        width: 100%;
        top: 0;
        left: 0;
        height: $img-height;
    }



    > .title-container {
        margin-top: $img-height - 60;
    }



    .body-text {
        margin-top: 15px;
        height: 90px;
    }



    .features {
        margin-top: 5px;
    }



    .stats-container {
        margin-top: auto;

    }


    .tag-container {
        margin-top: 10px;
        justify-content: flex-start;
    }


    &:hover {
        transform: scale(1.015);
    }



}