@import "./global.scss";


footer {
  display: flex;
	align-items: center;
	background-color: $black-l;
	height: 50px;
	gap: 7px;
  width: 100%;
	padding: 0 9px;
  box-sizing: border-box;

  position: absolute;
  bottom: 0;

  h2 {
    font-weight: 400;
    color: $white;
    font-size: 13px;
    margin: auto 0;
  }
}