$white: white;
$white-d: #e2e2e2;

$gray-l: lightgray;
$gray: gray;
$gray-d: rgb(71, 71, 71);

$black-l: rgb(24, 24, 24);
$black: black;

$gap: 25px;

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
html > body,
html > body > div.root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    background-color: $white-d;
    min-height: 100vh;
}


@mixin card {
    filter: drop-shadow(0px 0px 5px $gray-l);

    background-color: $white;
    border-radius: 13px;
}


.section-label {
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 6px;
  
    color: $gray-d;
    font-size: 11px;
    font-weight: 400;

    margin-bottom: 3px;
}