@use "./global.scss";


section.signin {
    width: clamp(300px, 40vw, 800px);
    background-color: white;

    $padding-sides: 50px;
    padding: 25px $padding-sides;
    background-color: white;

    text-align: center;

    img {
        border-radius: 50%;
    }

    h1 {
        font-size: 40px;
        margin: 6px;
        font-weight: 700;
    }

    h2 {
        font-size: 20px;

        color: global.$gray-d;
        font-weight: 500;
    }

    .google {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 25px 0;
    }
}