@import "../global/global.scss";


.filters {
  @include card;
  overflow: hidden;
  padding: 20px;

  > section {
    &:not(:last-child) {margin-bottom: 15px;}

    > .label{
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      > h1 {
        margin: 0;
        margin-bottom: 2px;
        color: $black;
        font-size: 19px;
        font-weight: 600;
      }
    }

  }

}